#python related
__pycache__

# venv related
.venv
venv

# slurm related
sbatch_file
sbatch_*
slurm*
logs/

*.cache

# data generated
data/

# fine tuning cache
data/labels/train.cache
data/labels/val.cache

# absolute path css
css/absolute style.css
