#python related
__pycache__

# venv related
.venv
venv

# sbatch
sbatch_file
slurm*

*.cache

# data generated
data/

# fine tuning cache
data/labels/train.cache
data/labels/val.cache

# absolute path css
css/absolute style.css
